/* ================================= 
  Base Styles
==================================== */
body,html{
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; 
min-height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}
.photo{
	border-radius: 50%;
	width: 170px;
	align-self: flex-start;
	margin-right: 25px;
	margin-bottom: 15px;
}
.name a:hover{
	color: #3acec2;
	transition: color 300ms ease-in;
}
.not-found{
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.not-found p{
	margin: 0 10px;
}
.slide-appear{
	transform: translateX(-100%);
}

.slide-appear.slide-appear-active{
	transform: translateX(0);
	transition: transform 1s ease-out;
}

.slide-right-appear{
	transform: translateX(100%);
}

.slide-right-appear.slide-right-appear-active{
	transform: translateX(0);
	transition: transform 1s ease-out;
}

.logo{
	width: 160px;
	animation-name: hatch;
	-webkit-animation-name: hatch;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;
	
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 
	transition: transform 0.3s ease-in-out;
	visibility: visible !important;	
}
.logo:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.thanks{
	margin-bottom: 150px;
}
.form-container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 10px;
	/*background: #3acec2;
	border: 1px solid #349e93; 
	*/
	color: #3a3a3a;
	border-radius: 2px;
  }
  .form-container h2{
	  color:#093a58;
  }
  .form-container * {
	box-sizing: border-box;
  }

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 140px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: 2px solid #3a3a3a;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #3a3a3a;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

@keyframes hatch {
	0% {
		transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		transform: rotate(2deg) scaleY(1);
	}
	50% {
		transform: rotate(-2deg);
	}	
	65% {
		transform: rotate(1deg);
	}	
	80% {
		transform: rotate(-1deg);
	}		
	100% {
		transform: rotate(0deg);
	}									
}

@-webkit-keyframes hatch {
	0% {
		-webkit-transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		-webkit-transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		-webkit-transform: rotate(2deg) scaleY(1);
	}
	50% {
		-webkit-transform: rotate(-2deg);
	}	
	65% {
		-webkit-transform: rotate(1deg);
	}	
	80% {
		-webkit-transform: rotate(-1deg);
	}		
	100% {
		-webkit-transform: rotate(0deg);
	}		
}

.fadeIn-enter{
	opacity: 0;
}

.fadeIn-enter.fadeIn-enter-active{
	opacity: 1;
	transition: opacity 1s ease-in;
}
.fadeIn-exit{
	opacity: 1;
}

.fadeIn-exit.fadeIn-exit-active{
	opacity: 1;
	transition: opacity 3ms ease-in;
}

.resume-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100%;
}
.resume-content{
	width:100%;
}
.sub-nav{
	
}
.row,.trans-wrap{
	flex-direction: column;
	align-items: center;
}
.school-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.collegeLogo{
	transform: scale(.7);
	margin: 0 auto;
}
.school-text{
	margin: 0 auto;
}
.school-text h3, .school-text h4{
	text-align: center;
}
.prof-section{
	display:flex;
	flex-direction: row;
	margin-top: 50px;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.working-knowledge-skills, .pro-skills{
	flex: 1 0 50%;
}
.pro-skills,.working-knowledge-skills{
	max-width: 300px;
	min-width: 300px;
	margin-top: 15px;
}
.tools{
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	align-items: center;
}
.tool-images img{
	align-self: center;
}
.tool-images{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}
.last{
	margin-top: 15px;
}
.about-text{
	display:flex;
	flex-direction: column;
	flex: 2 80%;
}
.primary.col.about{
	display: flex;
	flex-wrap: wrap;
}
.work-container{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top:30px;
}
.rugs-usa-container,.work-overview,.work-details,.qns-container,.ss-container{
	display: flex;
}
.rugs-usa-container,.qns-container,.ss-container{
	justify-content: space-between;
	width:100%;
}
.rugs-usa-container, .qns-container{
	margin-top:50px;
}

.ss-container{
	margin-top: 0px;
}
.work-details, .work-overview{
	flex-direction: column;
}
.work-overview{
	align-items: center;
	max-width: 165px;
	min-width: 165px;
	justify-content: center;
	flex: 0 1 165px;
}
.work-overview h3{
	margin-top: 30px;
	margin-bottom: 5px;
}
.work-overview p{
	margin-top:0px;
}
.work-details{
	flex-wrap: wrap;
	max-width: 600px;
}
.accomplish{
	font-weight:bold;
}
.work-details p, .work-details h3, .work-details ul{
	margin-top:10px;
	margin-bottom:5px;
}
.work-details li{
	margin-top: 5px;
}
.footer-inner{
	display: flex;
	flex-direction: column;
}
.social-icons{
	margin-bottom: 20px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.copyright{
	margin-bottom: 0px;
}
.social-icons span{
	margin-left: 20px;
}
.social-icons a{
	color: #093a58;
}
.social-icons a:hover{
	color: #3acec2;
}
.burger{
	width: 40px;
	height: 45px;
	margin-left: 7%;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: none;
}
.burger span{
	display: block;
	position: absolute;
	height: 6px;
	width: 100%;
	background: #093a58;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
	top: 0px;
  }
  
  .burger span:nth-child(2) {
	top: 10px;
  }
  
  .burger span:nth-child(3) {
	top: 20px;
  }
  
  .burger.open span:nth-child(1) {
	top: 8px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
  }
  
  .burger.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
  }
  
  .burger.open span:nth-child(3) {
	top: 8px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
  }
  .fade-enter, .fade-appear { opacity:0; }
  .fade-enter.fade-enter-active,
  .fade-appear.fade-appear-active { opacity:1; transition: opacity 1s; }
  .fade-exit { opacity:1; }
  .fade-exit.fade-exit-active { opacity:0; transition: opacity 300ms; }
  .trans-wrap{width: 100%}

  .portfolio-wrap{
	  display: flex;
	  width: 100%;
	  flex-wrap: wrap;
	  flex-direction: column;
  }
  .portfolio-header{
	  flex: 1 0 100%;
	  margin: 0 auto;
  }
  .portfolio-content{
	  display:flex;
	  justify-content: space-evenly;
	  width: 100%;
	  flex-wrap: wrap;
	  padding: 0 10px;
	  margin: 0;
	  padding: 0;
	  position: relative;
  }
  .portfolio-item{
	  align-self: center;
	  flex: 0 1 330px;
	  height: 210px;
	  padding: 0;
	  position: relative;
  }
  .portfolio-item-inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	width: 100%;
}
.card-front,
.card-back {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	margin: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	justify-content: flex-end;
}

.card-back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.card-back p.title {
	color: #093a58;
	margin-top: 0;
	text-transform: uppercase;
}
.card-back p.desc {
	color: #fff;
}
.card-back p.link, .card-back a{
	color: #093a58;
}
.card-back.bg-mint {
	background-color: #3acec2;
}
.portfolio-item:hover .card-front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.portfolio-item:hover .card-back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}
  .portfolio-item img{
	  border-radius: 4px;
	  border: 2px #093a58 solid;
	  align-self: center;
	  width:100%;
  }
  
/* ================================= 
  Media Queries
==================================== */

@media (max-width: 769px) {
	.burger{
		display: block;
	}
	.inner-nav-wrap{
		display:none;
	}
	.opens{
		display:flex;
		flex-direction: column;
	}
	.school-text p {
		padding-left: 25px;
	}
	.photo{
		align-self: center;
	}
	.primary.primary.col.about{
		flex-direction: column;
	}
	.rugs-usa-container,.qns-container,.ss-container{
		flex-direction: column;
		align-items: center;
		margin-bottom: 45px;
		margin-top: 60px;
	}
	.work-details{
		align-items: center;
		padding-left:10px;
		padding-right:10px;
	}
}	
@media (min-width: 769px) {
		.burger{
			display: none;
		}
		.inner-nav-wrap{
			display:flex;
			flex-direction: row;
		}
		.nav-handle{
			display:flex;
		}
		.main-header,.main-nav,.row,.trans-wrap{
			display: flex;
		}
		.main-header{
			flex-direction: column;
			align-items: center;
		}
		.col{
			flex: 1;
		}
		.rugs-usa-container, .qns-container,.ss-container{
			flex-direction: column;
			align-items: center;
			margin-bottom: 45px;
			margin-top: 60px;
		}
		.work-details{
			align-items: center;
		}
	}
	@media (min-width: 1025px) {
		.main-header{
			flex-direction: row;
			justify-content: space-between;
		}
		.primary{
			flex: 2;
		}
		.rugs-usa-container,.qns-container,.ss-container{
			flex-direction: row;
		}
		.work-details{
			align-items: flex-start;
		}
	}
	