@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@font-face {
	font-family: 'NeutraText-Bold';
	src: local('NeutraText-Bold'), url(../fonts/NeutraTextBold.otf) format('opentype');
  }
/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Rubik', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a,.sub-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
a:hover {
	color: #093a58;
}

.name a {
	color: #093a58;
}

.name a:hover {
	color: #3acec2;
}
.nav-active{
	color: #093a58;
	border-bottom: 2px solid #093a58;
}
/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #3acec2;
	padding: 1.8em 0;
	margin-bottom: 32px;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: .5em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row,
  .footer-inner{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
}

.burger{
	margin-left: 20px;
	color:#3acec2;
}
.burger:hover{
	color:#093a58;
	transition: color 300ms ease-in;
}
.sub-nav{
	display: inline-flex;
	text-align: center;
}